@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.activityTypeButtonsContainer {
  /* display: flex; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px !important;
}

.activityTypeButtons {
  min-width: 80px;
  font-size: 12px;
}

.slotMachine {
  /* padding: 20px; */
  /* width: 100vw; */
}

@media screen and (max-width: 600px) {
  .activityTypeButtonsContainer {
    gap: 18px !important;
    padding-right: 30px;
  }

  .activityTypeButtons {
    min-width: 55px;
    font-size: 10px;
  }
}

.red {
  border: 1px solid red;
}
/* @media screen and (max-width: 480px) {
  .activityTypeButtonsContainer {
    gap: 10px !important;
    justify-content: space-around;
    padding-right: 30px;
  }

  .activityTypeButtons {
    min-width: 40px;
    font-size: 10px;
  }
} */
@media screen and (max-width: 460px) {
  .activityTypeButtonsContainer {
    gap: 12px !important;
    /* justify-content: space-around; */
    padding-right: 30px;
  }

  .activityTypeButtons {
    min-width: 30px;
    font-size: 10px;
  }
}
